@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10rem 1fr 1fr -webkit-min-content;
  grid-template-rows: 10rem 1fr 1fr min-content;
}
.header__heading {
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: #434343;
}
.header__heading-main {
  font-size: 10rem;
  display: block;
  margin-bottom: 1rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: normal;
}
.header__heading-sub {
  font-size: 5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}
.header__background {
  position: absolute;
  width: 100%;
  z-index: -1;
  max-height: 100vh;
}
.header__icons {
  grid-row: 3/4;
  justify-self: center;
  align-self: top;
  margin-top: 8rem;
}
.header__icons-insta {
  width: 6rem;
  margin-right: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__icons-insta:hover, .header__icons-insta:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__icons-fb {
  width: 6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__icons-fb:hover, .header__icons-fb:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__bottom {
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.header__bottom-info {
  font-size: 1.8rem;
}
.header__bottom-icon {
  margin-top: 1rem;
  width: 1rem;
}

.container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.container__delete {
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__article {
  margin: 5rem 2rem;
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 30rem) 1fr;
  grid-template-columns: minmax(min-content, 30rem) 1fr;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__title {
  margin: 5rem 0;
  font-size: 4rem;
  font-family: "Darker Grotesque", sans-serif;
  color: #434343;
}
.article__img {
  border-radius: 3px;
  width: 50%;
  min-width: 30rem;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}
.article__text {
  font-size: 1.6rem;
  width: 60%;
  color: #696969;
  word-wrap: break-word;
}
.article__btn {
  text-align: end;
  width: 70%;
}
.article__btn-edit {
  margin: 4rem 0;
  margin-right: 10rem;
  background-color: #3a0ca3;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.article__btn-edit:hover, .article__btn-edit:active {
  background-color: #3f37c9;
}
.article__btn-delete {
  background-color: #bd1f36;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 1.8rem;
}
.article__btn-delete:hover, .article__btn-delete:active {
  background-color: #e01e37;
}
.article__link {
  text-decoration: none;
  color: #fff;
}
.article__link-return {
  font-size: 4rem;
  color: #927b75;
  text-decoration: none;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__link-return--text {
  font-size: 1.6rem;
  margin-left: 1.8rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 2.5rem;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.nav__link {
  text-decoration: none;
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #434343;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.nav__link:hover, .nav__link:active {
  color: #927b75;
}

.form {
  min-height: 40rem;
  min-width: 60rem;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.form__heading {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Quicksand", sans-serif;
  color: #434343;
  margin: 2.5rem 0;
}
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 4rem;
}
.form__label {
  display: block;
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  color: #434343;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.form__input {
  width: 35rem;
  height: 3rem;
}
.form__content {
  width: 100%;
  height: 20rem;
}
.form__warning {
  font-size: 1.4rem;
  color: #e01e37;
  font-family: "Lato", sans-serif;
  margin-top: 0.5rem;
}
.form__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1.2rem 0;
  cursor: pointer;
}
.form__btn-save {
  margin-left: 2rem;
  background-color: #3a0ca3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form__btn-save:hover, .form__btn-save:active {
  background-color: #3f37c9;
}
.form__btn-cancel {
  cursor: pointer;
  background-color: #bd1f36;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form__btn-cancel:hover, .form__btn-cancel:active {
  background-color: #e01e37;
}

.btn {
  border: none;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
}

.overview {
  margin-right: 5rem;
}
.overview__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 4rem;
  list-style: none;
}
.overview__items {
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.overview__items:hover, .overview__items:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.overview__link {
  text-decoration: none;
}
.overview__body {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}
.overview__img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
}
.overview__title {
  text-align: center;
  margin: 2rem;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  color: #434343;
}

.filter {
  grid-column: 1/2;
  justify-self: center;
}
.filter__list {
  list-style: none;
}
.filter__items {
  margin-bottom: 1.2rem;
}
.filter__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #696969;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.filter__link:hover, .filter__link:active {
  color: #927b75;
}
.filter__link-number {
  font-size: 1rem;
  color: #bd1f36;
}
.filter__link-active {
  color: #927b75;
  font-weight: 700;
}

.delete {
  width: 70rem;
  height: 30rem;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.delete__title {
  justify-self: center;
  font-size: 2.2rem;
  font-family: "Quicksand", sans-serif;
  margin: 2rem;
}
.delete__text {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}
.delete__btn {
  margin-right: 2.8rem;
  justify-self: end;
  margin-bottom: 3rem;
}