.filter {
  grid-column: 1/2;
  justify-self: center;

  &__list {
    list-style: none;
  }

  &__items {
    margin-bottom: 1.2rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: $font-primary;
    color: $color-text;
    transition: color 0.2s;

    &:hover,
    &:active {
      color: $color-brown-dark;
    }

    &-number {
      font-size: 1rem;
      color: $color-red-dark;
    }

    &-active {
      color: $color-brown-dark;
      font-weight: 700;
    }
  }
}
